<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>차량/오토바이</ion-title>
    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon name="search-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        전체보기 500
        <span></span>
      </ion-col>
      <ion-col>
        오토바이/스쿠터
        <span>221</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>국산차 154</ion-col>
      <ion-col>수입차 125</ion-col>
    </ion-row>   
  </ion-grid>
  <div style="background-color: #c4c4c4; height: 30px; display:flex; justify-content:center; align-items:center;">
    <div style="margin-left: 10px;">
      오늘의 추천상품
    </div>
  </div>
  <div>
    <ion-grid slot>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/c1.jpeg" />
          <h5>525,400원</h5>
          <p><small>성지윈드k2전기오토바이 전동스쿠터</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/c2.jpeg" />
          <h5>5,000,000원</h5>
          <p><small>혼다CR-V 4WD 2007년식</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/c3.jpeg" />
          <h5>5,000,000원</h5>
          <p><small>스즈키 Lapin(토끼)SS 5MT</small></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid slot>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/c4.jpeg" />
          <h5>40,000,000원</h5>
          <p><small>랜드로버디스커버리43.0 2012년식</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/c5.jpeg" />
          <h5>2,000,000원</h5>
          <p><small>4륜전기자동차/오토바이자동차/전기Trike-Buy</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/c6.jpeg" />
          <h5>2,555,000원</h5>
          <p><small>xq250</small></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
