<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>부동산</ion-title>
    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon name="search-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        전체보기
        <span>768</span>
      </ion-col>
      <ion-col>
        원룸/투룸
        <span>221</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>주택/빌라 154</ion-col>
      <ion-col>점포/상가 125</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>아파트 154</ion-col>
      <ion-col>오피스텔 114</ion-col>
    </ion-row>
    
  </ion-grid>
  <div style="background-color: #c4c4c4; height: 30px; display:flex; justify-content:center; align-items:center;">
    <div style="margin-left: 10px;">
      오늘의 추천상품
    </div>
  </div>
  <div>
    <ion-grid slot>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/r1.jpeg" />
          <h5>연락요망</h5>
          <p><small>경상남도 김해시 원룸</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/r2.jpeg" />
          <h5>연락요망</h5>
          <p><small>1.5룸 월세</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/r3.jpeg" />
          <h5>5.5억원</h5>
          <p><small>34평아파트</small></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid slot>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/r4.jpeg" />
          <h5>연락요망</h5>
          <p><small>오피스텔</small></p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/r5.jpeg" />
          <h5>2.5억</h5>
          <p>복층 오피스텔</p>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/r6.jpeg" />
          <h5>500/60</h5>
          <p>원룸</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
